:root {
  --color-table-bg: #fff;
  --color-table-font: #000;
}
*::before, *::after {
  box-sizing: border-box;
}
body {
  background: #000;
  color: #fff;
  min-height: 200vh;
}

table {
  min-width: 50%;
  border-collapse: collapse;
}

.scorecard__header {
  font-weight: bold;
}


.scorecard, .scorecard__row {
  background: var(--color-table-bg);
  color: var(--color-table-font);
  width: 100%;
}

.scorecard__cell {
  display: inline-block;
  width: 200px;
  padding: 1rem;
}

/* .scorecard.sticky  {

  position: fixed;
  top: 0;
} */

.scorecard.sticky {
  padding-top: 52px;
}
.scorecard.sticky .scorecard__header {
  position: fixed;
  top: 0;
}
/**
 * Scorecard 2
 * @type {[type]}
 */
.scorecard2 {
  table-layout: fixed;
}
.scorecard2, .scorecard2__header {
  background: var(--color-table-bg);
  color: var(--color-table-font);
  text-align: left;
  width: 100%;
}

.scorecard2.sticky {
  padding-top: 52px;
}
.scorecard2.sticky .scorecard2__header {
  position: fixed;
  top: 0;
}

.scorecard2__header {
  display: none;
}

.scorecard2__headercell, .scorecard2__cell, .scorecard2__cell::before {
  padding: 0.5rem;
}
.scorecard2__cell {
  display: block;
}

.scorecard2__cell::before {
  content: attr(data-th)": ";
  display: inline-block;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .scorecard2__header {
    display: table-header-group;
  }

  .scorecard2__cell {
    display: table-cell;
  }

  .scorecard2__cell::before {
    display: none;
  }
}
